@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  background: url('../img/bgc.png') no-repeat center center/cover;
  height: 100vh;
  border: 0px;
}

.header-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*Навигация*/
#topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

#topnav .logo {
  margin-top: 25px;
}

#topnav .group {
  margin-top: 25px;
  align-items: center;
  width: 30%;
}

#topnav .group ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#topnav .group .left-group ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#topnav .group ul li a {
  font-family: 'Gilroy-Light', sans-serif;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 150%;
  transition: all 0.1s ease-in-out;
}

#topnav .group ul li a:hover {
  font-weight: 1000;
}

/*Контент*/
header .content {
  height: 90%;
  overflow: auto;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header .content h1 {
  color: #fff;
  font-weight: 550;
  font-family: 'Noto Serif', serif;
}

header .content a {
  background: rgba(51, 51, 51, 1);
  margin-top: 50px;
  color: #fff;
  font-family: 'Gilroy-Medium', sans-serif;
  max-width: 261px;
  max-height: 51px;
  padding: 15px 35px 15px 35px;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

header .content a:hover {
  color: #333;
  border-color: #d6d6d6;
  background: #f4f4f4;
}

header .content .partners {
  margin-top: 80px;
  width: 100%;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

header .content .partners img {
  border-right: 1px solid #fff;
  padding-right: 15px;
  margin: 30px 0;
}

header .content .partners img:last-child {
  border-right: none;
}

/*Каталог*/
.catalogue .catalogue-container {
  margin-top: 100px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.section-small-header {
  margin-bottom: 15px;
  font-family: 'Gilroy-Light';
  font-size: 21px;
  line-height: 140%;
}

.section-big-header {
  margin-bottom: 60px;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  line-height: 41px;
}

.catalogue .catalogue-container .categories {
  margin-bottom: 61px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
}

.catalogue .catalogue-container .categories .category {
  width: 165px;
  height: 55px;
  border: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;
  position: relative;
  background: #fff;
}

.catalogue .catalogue-container .categories .category:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  border: 1px solid #d6d6d6;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.catalogue .catalogue-container .categories .category:hover {
  background: #333;
}

.catalogue .catalogue-container .categories .category:hover:after {
  display: none;
}

.catalogue .catalogue-container .categories .category:hover>a {
  color: #fff;
}

.catalogue .catalogue-container .categories .category a {
  text-decoration: none;
  font-family: 'Gilroy-Medium';
  color: #333;
  font-size: 18px;
  line-height: 21px;
  padding: 17px 30px;
  margin: auto;
  height: 100%;
  width: 100%;
}

.catalogue .catalogue-container .main-catalogue {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catalogue .catalogue-container .main-catalogue .catalogue-group {
  display: flex;
  justify-content: space-between;
}

.catalogue .catalogue-container .main-catalogue .catalogue-group .group-item {
  width: 350px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  position: relative;
}

.top-group {
  margin-bottom: 30px;
}

.rings {
  background: url('../img/sergi.png') no-repeat center center/cover;
}

.sergi {
  background: url('../img/rings.png') no-repeat center center/cover;
}

.podveski {
  background: url('../img/podveski.png') no-repeat center center/cover;
}

.zaponki {
  background: url('../img/zaponki.png') no-repeat center center/cover;
}

.braslet {
  background: url('../img/braslet.png') no-repeat center center/cover;
}

.chasy {
  background: url('../img/chasy.png') no-repeat center center/cover;
}

.catalogue .catalogue-container .main-catalogue .catalogue-group .group-item a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: 'Gilroy-Light';
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding-top: 222px;
  position: relative;
}

.catalogue .catalogue-container .main-catalogue .catalogue-group .group-item a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #333;
  top: 0;
  left: 0;
}

/*Салоны*/
.offices{
  background: url('../img/Rectangle 6.png') no-repeat center center/cover;
  width: 100%;
  height: 541px;
  color: #fff;
  font-weight: 200;
}

.offices-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.offices h3{
  font-family: 'Gilroy-Light';
  font-size: 21px;
  line-height: 140%;
}

.offices h2{
  margin-top: 15px;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  line-height: 41px;
  font-weight: 300;
}

.offices p{
  margin-top: 45px;
  font-family: 'Gilroy-Light';
  font-size: 18px;
  line-height: 140%;
  width: 730px;
}

.offices a{
  margin-top: 60px;
  font-family: 'Gilroy-Medium', sans-serif;
  max-width: 261px;
  max-height: 51px;
  padding: 15px 35px 15px 35px;
  background-color: #333;
  border: 1px solid #d6d6d6;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  color: #333;
  background: #fff;
}

.offices a:hover{
  background: rgba(51, 51, 51, 1);
  color: #fff;
  border: 1px solid #fff;
}

/*Блог*/
.blog .blog-container {
  margin-top: 100px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.blog .pages-group{
  display: flex;
  justify-content: space-between;
}

.blog .pages-group:first-child{
  margin-left: 0;
}

.blog .pages-group:last-child{
  margin-right: 0;
}

.blog .pages-group .page{
  width: 350px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 15px;
}

.wife{
  background: url('../img/wife.png') no-repeat center center/cover;
}

.husband-zaponki{
  background: url('../img/husband.png') no-repeat center center/cover;
}

.wedding-rings{
  background: url('../img/wedding.png') no-repeat center center/cover;
}
.blog .pages-group .page a{
width: 100%;
height: 100%;
text-decoration: none;
font-family: 'Gilroy-Light';
font-size: 21px;
line-height: 140%;
color: rgba(255, 255, 255, 1);
padding-top: 251px;
position: relative;
}

.blog .pages-group .page a:hover:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #333;
  top: 0;
  left: 0;
}

.blog .btn{
  background: rgba(51, 51, 51, 1);
  margin-top: 50px;
  color: #fff;
  font-family: 'Gilroy-Medium', sans-serif;
  max-width: 261px;
  max-height: 51px;
  padding: 15px 35px 15px 35px;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.blog .btn:hover{
  color: #333;
  border-color: #d6d6d6;
  background: #f4f4f4;
}

/*Галерея*/
.socials-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 150px auto;
}

.socials-container .gallery{
  margin-top: 70px;
  width: 100%;
}

.socials-container h3{
  font-family: 'Gilroy-Light';
  font-size: 21px;
  line-height: 140%;
}

.socials-container h2{
  margin-top: 15px;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  line-height: 41px;
  font-weight: 300;
}


.socials-container .gallery .row{
  display: flex;
}

.row:first-child .picture{
  width: 25%;
  height: 300px;
  background: url('../img/second-top.png') no-repeat center center/cover;
}

.row:first-child .picture:first-child{
  width: 50%;
  background: url('../img/video-top.png') no-repeat center center/cover;
}

.row:first-child .picture:first-child a{
  background: url('../img/play.png') no-repeat center center;
}

.row:first-child .picture:last-child{
  background: url('../img/third-top.png') no-repeat center center/cover;
}

.row .picture{
  position: relative;
}

.row .picture a{
width: 100%;
height: 100%;
position: absolute;
top:0;
left:0;
z-index: 2;
}

.row .picture:hover:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #333;
  top: 0;
  left: 0;
  z-index: 1;
}

.row:last-child .picture:first-child{
  background: url('../img/first-bot.png') no-repeat center center/cover;
}

.row:last-child .picture{
  width: 25%;
  height: 300px;
  background: url('../img/second-bot.png') no-repeat center center/cover;
}

.row:last-child .picture:last-child{
  width: 50%;
  background: url('../img/video-bot.png') no-repeat center center/cover;
}

.row:last-child .picture:last-child a{
    background: url('../img/play.png') no-repeat center center;
}

/*Подписка*/
.subscription{
  background: url('../img/Rectangle 6.png') no-repeat center center/cover;
  width: 100%;
  height: 541px;
  color: #fff;
  font-weight: 200;
}

.subscription-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.subscription-container h3{
  font-family: 'Gilroy-Light';
  font-size: 21px;
  line-height: 140%;
}

.subscription-container h2{
  margin-top: 15px;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  line-height: 41px;
  font-weight: 300;
}

.subscription-form{
  margin-top: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-form ul{
  list-style: url('../img/subscribe__icon.png');
  text-align: left;
  font-family: 'Gilroy-Light';
font-size: 18px;
line-height: 140%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items:center;
height: 105px;
margin-right: 40px;
}

.subscription-form ul li{
  width: 100%;
  margin-bottom: 15px;
}

.sub-form{
  margin-left: 40px;;
  width: 448px;
  height: 113px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-form form{
  background: #fff;
  width: 418px;
  height: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sub-form form .input{
  width: 200px;
  height: 45px;
  font-family: 'Gilroy-Light';
  color: #333;
  font-size: 14px;
line-height: 16px;
letter-spacing: 0.1em;
padding: 15px 20px;
}

.sub-form form .input::placeholder{
  font-family: 'Gilroy-Light';
  rgba(51, 51, 51, 0.5);
}

.sub-form form .subscribe{
  background: rgba(51, 51, 51, 1);
  color: #fff;
  font-family: 'Gilroy-Medium', sans-serif;
  width: 159px;
  height: 45px;
  padding: 14px 35px 14px 35px;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.sub-form form .subscribe:hover{
  color: #333;
  border-color: #d6d6d6;
  background: #f4f4f4;
}
